﻿body {
background-color:rgba(204,204,204,0.7);
overflow-x: hidden;
}


@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('../fonts/MyriadPro-Regular.otf') format('opentype');
}
/*標題列效果*/
.navbar-default { 
	background-color: rgba(0,0,0,0.10);
	border-color: rgba(0,0,0,0);
}
.navbar-default .navbar-brand {
	color: #ffffff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: rgba(204,204,204,0.7);
}
.navbar-default .navbar-text {
	color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
	color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
color: rgba(204,204,204,0.7);
}
.navbar-default .navbar-nav > li > .dropdown-menu {
background-color: rgba(0,0,0,0.10);
width:500px;

}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
color: rgba(204,204,204,0.7);
background-color: rgba(0,0,0,0);
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
background-color: rgba(0,0,0,0.10);
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
color: rgba(204,204,204,0.7);
background-color: rgba(0,0,0,0);
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
color: rgba(204,204,204,0.7);
background-color: rgba(0,0,0,0);
}
.navbar-default .navbar-toggle {
border-color: rgba(0,0,0,0);
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
background-color: rgba(0,0,0,0);
}
.navbar-default .navbar-toggle .icon-bar {
background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
border-color: #ffffff;
}
.navbar-default .navbar-link {
color: #ffffff;
}
.navbar-default .navbar-link:hover {
color: rgba(204,204,204,0.7);
}

@media (max-width: 767px) {
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
color: #ffffff;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
color: rgba(204,204,204,0.7);
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
color: rgba(204,204,204,0.7);
background-color: rgba(0,0,0,0);
}
}


/*carousel效果*/
.carousel .item {
    width: 100%; 

}
.carousel .item img {
    width: 100%; 


}

.carousel .carousel-control {
    background: none;
    border: none;
    top: 50%;
}

/* 讓col-md-12左右不留空白 */
.nopadding {
   padding: 0 ;
   margin: 0 ;
}



ul.nav li.dropdown:hover ul.dropdown-menu{
    display: block;
    }
 
    a.menu:after, .dropdown-toggle:after {
    content: none;
    }

.footer {
    background-color:#000000;
    padding-bottom:15px
}

#loading{
    position:absolute;width:300px;top:0px;left:50%;margin-left:-150px;text-align:center;padding:7px 0 0 0;font:bold 11px Arial, Helvetica, sans-serif;

}

#gotop {
    display: none;
    position: fixed;
    right: 20px;
    bottom: 20px;    
    padding: 10px 15px;    
    cursor: pointer;
}

#product:hover {

border: 2px solid rgba(0,0,0,0.7);
border-radius: 32px;
background-image: -webkit-gradient(radial, center center, 0, center center, 212, from(#fcfcfc), to(#bfbfbf), color-stop(3%, #f7f7f7), color-stop(12%, #f2f2f2), color-stop(90%, #d9d9d9));
background-image: -webkit-radial-gradient(center center, cover, #fcfcfc, #f7f7f7 3%, #f2f2f2 12%, #d9d9d9 90%, #bfbfbf);
background-image: -moz-radial-gradient(center center, cover, #fcfcfc, #f7f7f7 3%, #f2f2f2 12%, #d9d9d9 90%, #bfbfbf);
background-image: radial-gradient(center center, cover, #fcfcfc, #f7f7f7 3%, #f2f2f2 12%, #d9d9d9 90%, #bfbfbf);
-webkit-box-shadow: 0 0 47px black;
-moz-box-shadow: 0 0 47px black;
box-shadow: 0 0 47px black;


}


.white, .white a {
  color: #ffffff;
}

