﻿@{
    ViewBag.Title = "Home Page";

}


<!--Product頁面-->
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="3000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>


    <div class="carousel-inner animated fadeIn">
        <div class="active item">
            <img src="~/Images/1.jpg" alt="Slide1" />
            <div class="carousel-caption">
                <h2 class="animated zoomIn">LETV LE MAX</h2>
                <a href="#"><h2 class="animated shake">進一步了解＞</h2></a>
            </div>
        </div>
        <div class="item">
            <img src="~/Images/2.jpg" alt="Slide2" />
            <div class="carousel-caption">
                <h2 class="animated zoomIn">LETV LE MAX</h2>
                <a href="#"><h2 class="animated shake" >進一步了解＞</h2></a>
            </div>
        </div>
        <div class="item">
            <img src="~/Images/3.jpg" alt="Slide3" />
            <div class="carousel-caption">
                <h2 class="animated zoomIn">LETV LE MAX</h2>
                <a href="#"><h2 class="animated shake">進一步了解＞</h2></a>
            </div>
        </div>
    </div>
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>
</div>

<div class="col-md-12 nopadding text-center" id="Proudctlist">
    <div class="row nopadding">
        <div class="col-md-3 nopadding ">
            <img class="animated fadeIn" id="product" src="~/Images/product.png" />
        </div>
        <div class="col-md-3 nopadding">
            <img class="animated fadeIn" id="product" src="~/Images/product.png" />
        </div>
        <div class="col-md-3 nopadding">
            <img class="animated fadeIn" id="product" src="~/Images/product.png" />
        </div>
        <div class="col-md-3 nopadding">
            <img class="animated fadeIn" id="product" src="~/Images/product.png" />
        </div>
    </div>

</div>
<!--/Product頁面-->
<!--TV頁面-->

<div class="col-md-12 nopadding TV">
    <img class="img-responsive" src="http://brand15.pc3mag.com/wp-content/uploads/2015/05/20150428_May-UI.jpg" />
</div>
<!--/TV頁面-->
<!--Phone頁面-->
<div class="col-md-12 nopadding Phone">
    <img class="img-responsive" src="http://i.ytimg.com/vi/yVdAwRYN_cs/maxresdefault.jpg" />
</div>

<!--/Phone頁面-->
<!--TOTOP-->
<div id="gotop"><img src="~/Images/back-to-top-button.png" /></div>

<script>
    $(function () {
        $("#gotop").click(function () {
            jQuery("html,body").animate({
                scrollTop: 0
            }, 1000);
        });
        $(window).scroll(function () {
            if ($(this).scrollTop() > 300) {
                $('#gotop').fadeIn("fast");
            } else {
                $('#gotop').stop().fadeOut("fast");
            }
        });
    });

</script>