﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LETV WORKS</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")


</head>


<body>

    <!--標題列滾動-->
    <script>
        $(function () {
            $('a.Productscroll').click(function () {
                var $body = (window.opera) ? (document.compatMode == "CSS1Compat" ? $('html') : $('body')) : $('html,body');
                $body.animate({
                    scrollTop: 0
                }, 1000);
                return false;
            });
        });
        $(function () {
            $('a.TVscroll').click(function () {
                var $body = (window.opera) ? (document.compatMode == "CSS1Compat" ? $('html') : $('body')) : $('html,body');
                $body.animate({
                    scrollTop: 960
                }, 1000);
                return false;
            });
        });
        $(function () {

            $('a.PhoneScroll').click(function () {

                var $body = (window.opera) ? (document.compatMode == "CSS1Compat" ? $('html') : $('body')) : $('html,body');
                $body.animate({
                    scrollTop: 1920
                }, 1000);

                return false;
            });
        });
    </script>

    <script>
        $(window).scroll(function () {
            if ($(window).scrollTop() >= 100) {
                $(".navbar-default").stop();
                $(".navbar-default").animate({
                    backgroundColor: "#00000",
                    height: 70
                }, 200);

            }
            else {
                $(".navbar-default").stop();
                $(".navbar-default").animate({
                    backgroundColor: "transparent",
                    height: 50
                }, 200);
            }
        });


    </script>







    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="~/Views/Home/Index"><img class="animated tada" src="~/Images/logo.png" /></a>
            </div>
            <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav navbar-right">
                    <li><a class="Productscroll animated fadeInLeftBig" href="#"><span class="glyphicon glyphicon-list-alt white" aria-hidden="true"></span>Product</a></li>
                    <li><a class="TVscroll animated fadeInUpBig" href="#"><span class="glyphicon glyphicon-film white" aria-hidden="true"></span>TV</a></li>
                    <li><a class="PhoneScroll animated fadeInRightBig" href="#"><span class="glyphicon glyphicon-earphone white" aria-hidden="true"></span>Phone</a></li>
                    <!--  <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                                         Link
                                                     </a>
                          <ul class="dropdown-menu">
                                                         <li><a href="#">Link</a></li>
                                                         <li><a href="#">Link</a></li>
                                                         <li><a href="#">Link</a></li>
                                                         <li role="separator" class="divider"></li>
                                                         <li><a href="#">Link</a></li>
                                                         <li role="separator" class="divider"></li>
                                                         <li><a href="#">Link</a></li>
                                                     </ul>
                                                      
                    </li>
                         -->
                </ul>

            </div>
        </div>
    </div>



    <div class="col-md-12 nopadding">
        @RenderBody()
    </div>



    <div class="col-lg-12 footer">
        <footer>
            <img src="~/Images/LOGO.png" alt="LETV" title="LETV" />
            <h2 style="color:#ffffff">footer</h2>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
